html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}


body{
    display: flex;
}

.container{
    background-color: blueviolet;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
}

.primeiro{
    background-color:rgb(77, 77, 206);
    display: flex;
    justify-content: space-around;


}

input{
background-color: rgb(123, 184, 123);
/* height: 20px;
width: 100px; */
padding-top: 20px;
padding-right: 20px;
padding-bottom: 10px;
padding-right:  20px;

}


.segundo{
    background-color: coral;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-right:  20px;
}
